<log4net>
    <root>
      <level value="INFO" />
      <appender-ref ref="console" />
      <appender-ref ref="systemOut" />
    </root>
  
  <logger name="OAMSBIC" additivity="false">   
    <level value="DEBUG" />
    <appender-ref ref="console" />
    <appender-ref ref="file" />
  </logger>

  <logger name="DefaultBearingInspectionEvent" additivity="false">
    <level value="DEBUG" />
    <appender-ref ref="console" />
    <appender-ref ref="DefaultBearingInspectionEvent" />
  </logger>

  <appender name="console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="file" type="log4net.Appender.RollingFileAppender">
      <file value="C:\OAMS\log\rankpt\measure.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>

  <appender name="systemOut" type="log4net.Appender.RollingFileAppender">
    <file value="C:\OAMS\log\rankpt\systemout.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="DefaultBearingInspectionEvent" type="log4net.Appender.RollingFileAppender">
    <file value="C:\OAMS\log\rankpt\DefaultBearingInspectionEvent.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
    </layout>
  </appender>
  </log4net>